/* ! -----------------------HOME.HTML CSS----------------------- */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.header{
    position: relative;
    width: 100%;
}

.navbar{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    align-items: center;
    top: 5%;
    /* background-color: red; */
}

.content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 5px;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

.nav_lists{
    width: fit-content;
    display: flex;
    padding: 8px 10px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: rgba(0, 0, 0, 0.5);
}

.login{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 15px;
    padding: 8px 10px;
}

a{
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 15px; 
    display: inline-block;
}

.nav:hover{
    transform: scale(1.2);
}

.dropdown-content{
    display: none;
    position: absolute;
    /* background-color: #f1f1f1; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-content a{
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.search-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 50%;
  padding: 0px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  justify-content: center;
}

.hold{
    position: fixed;
    top: 80px;
    width: 35%;
}

.searchterm{
    padding: 15px;
    font-size: 20px;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    height: 7vh;
}

.searchbutton{
    width: 50px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    font-size: 25px;
}

.searchbutton:hover{
    transform: scale(1.1);
}

.menubar{
    color: white;
    font-size: 20px;
    display: none;
    background: transparent;
    align-items: center;
    cursor: pointer;
}

.linked-icons{
    display: flex;
    justify-content: center;
    margin: 25px 0px;
}

.bikes-linked-icon{
    position: relative;
    /* border: 3px solid blue; */
    border-radius: 15px;
    padding: 0px 15px;
    width: 8%;
    height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.scooters-linked-icon{
    position: relative;
    /* border: 3px solid blue; */
    border-radius: 15px;
    padding: 0px 15px;
    width: 8%;
    height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5); 
}

.gallery-linked-icon{
    position: relative;
    /* border: 3px solid blue; */
    border-radius: 15px;
    padding: 0px 15px;
    width: 8%;
    height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5); 
}

.bikes-linked-icon, .scooters-linked-icon, .gallery-linked-icon{
    margin: 0% 3%;
}

.bikes-linked-icon:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.scooters-linked-icon:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.gallery-linked-icon:hover{
    transform: scale(0.9);
    cursor: pointer;
}

.featured-section-tittle{
    color: blue;
    font-weight: bolder;
    position: relative;
    text-align: center;
    font-size: 3vw;
    margin-top: 7%;
}

.featured-product-list{
    position: relative;
    display: flex;
    margin: 25px;
    justify-content: center;
}

.fz-x, .fzv3, .aexor-155, .r15m{
    width: 20%;
    padding: 10px;
    margin: 10px;
    align-items: center;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
}

.fz-x:hover, .fzv3:hover, .aexor-155:hover, .r15m:hover{
    transform: scale(1.3);
    transition: 0.2s;
    cursor: pointer;
}

.products-name{
    font-size: 1vw;
    font-weight: bold;
}

.toogle{
    color: black;
    font-size: 30px;
}

.toogle-menu{
    display: none;
    position: absolute;
    list-style: none;
    top: 25%;
    left: 85%;
}

.toogle{
    display: block;
    padding: 10px 5px;
    color: white;
}

@media screen and (max-width: 1000px) {
    .nav_lists{
        display: none;
    }

    .login{
        display: none;
    }

    .menubar{
        display: block;
        }

    }
